$primary-color-bg: #319b54;
$primary-color: #000;

$danger-color-bg: #9b5431;
$danger-color: #000;
.buy{
	background:$primary-color-bg;
	color:$primary-color;
}
.sell{
	background:$danger-color-bg;
	color:$danger-color;
}
page-home {

}

